{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 90,
        "trailingComma": "all"
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}
